# Node & Expo defaults
node_modules/
.expo/
dist/
/android/
/ios/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
coverage/
/artifacts/

# macOS
.DS_Store

# Secrets
android/keystores
credentials.json
.env
.env.*
!.env.example
!.env.*.example

# Build output
*.ipa
*.apk
*.aab
