<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.health.WRITE_MINDFULNESS" />

  <queries>
    <package android:name="com.google.android.apps.healthdata" />
  </queries>

  <application>
    <activity
      android:name=".HealthConnectPermissionRationaleActivity"
      android:exported="true"
      android:excludeFromRecents="true"
    >
      <intent-filter>
        <action
          android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE"
        />
      </intent-filter>
    </activity>

    <activity-alias
      android:name="ViewHealthPermissionsUsageActivity"
      android:exported="true"
      android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
      android:targetActivity=".HealthConnectPermissionRationaleActivity"
    >
      <intent-filter>
        <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
        <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
      </intent-filter>
    </activity-alias>
  </application>
</manifest>
